<style>
  .containerchat{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
</style>

<script type="text/ng-template" id="chatUserTemplate.html">
    <a class="contactUserBox">
        <div>
            <div ng-if="match.model.imageURL" class="pull-left text-center photo">
                <img ng-src="{{match.model.imageURL}}" class="img-responsive img-rounded">
            </div>
            <div ng-if="!match.model.imageURL" class="pull-left">
                <span class="initials-logo" ng-class="match.model.contactType">{{match.model.initials}}</span>
            </div>
            <div>
                <div>
                    <span ng-bind-html="match.model.label"></span>
                </div>
                <div ng-if="match.model.isContact && match.model.company">
                    <span>{{match.model.company}}</span>
                </div>
            </div>
        </div>
    </a>
</script>

<div ng-controller="ChatListCtrl as chatListCtrl">

    <div ng-if="::globalVars.SmsNumbers.length>0" class="btn-group" uib-dropdown keyboard-nav
         style="width:100%;margin-bottom:2px">
        <button type="button" class="btn"
                ng-class="{'btn-primary': !chatListCtrl.data.myNumber.isSMS, 'btn-warning': chatListCtrl.data.myNumber.isSMS}"
                uib-dropdown-toggle style="width: 100%">
            {{::getLocalPhrase('From')}}: {{chatListCtrl.data.myNumber.number}} <i class="fas"
                                                                                   ng-class="{'fa-sms': chatListCtrl.data.myNumber.isSMS}"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li ng-repeat="myNumber in chatListCtrl.data.myNumbers" role="menuitem">
                <a ng-href="" ng-click="chatListCtrl.setMyNumber(myNumber)">{{myNumber.number}} <i class="fas"
                                                                                                   ng-class="{'fa-sms': myNumber.isSMS}"></i></a>
            </li>
        </ul>
    </div>

    <div class="input-group">

        <input
            typeahead-editable="true"
            type="text"
            style="width:100%"
            ng-model="chatListCtrl.data.selectedUser"
            placeholder="{{::getLocalPhrase('Label.EnterNameOrExt')}}"
            typeahead-min-length="1"
            typeahead-template-url="chatUserTemplate.html"
            uib-typeahead="chatUserObj as chatUserObj.label for chatUserObj in chatListCtrl.data.recipientChoices  | filter:{label: $viewValue} | limitTo:10"
            typeahead-on-select="chatListCtrl.extensionSelected($item)"
            class="form-control" autofocus/>

        <div class="input-group-btn">
            <button class="btn"
                    ng-class="{disabled: !chatListCtrl.data.selectedUser && chatListCtrl.data.selectedExtensions.length===0,
                    'btn-primary' : !chatListCtrl.data.myNumber.isSMS,
                    'btn-warning' : chatListCtrl.data.myNumber.isSMS}"
                    ng-click="chatListCtrl.startChat()">
                <i class="fas fa-comment"></i>
            </button>
        </div>
    </div>

    <div ng-if="globalVars.IsAdvancedUser && chatListCtrl.data.selectedExtensions.length>0"
         class="select-chat-recipients-outer">
        <div class="select-chat-recipients-box-inner">
            <div ng-repeat="extensionObj in chatListCtrl.data.selectedExtensions"
                 class="pull-left select-chat-recipients-pod">
                <span ng-bind-html="extensionObj.label"></span> <a ng-href=""
                                                                   ng-click="chatListCtrl.extensionRemoved(extensionObj)"><i
                class="fa fa-times"></i></a>
            </div>
        </div>
    </div>


    <!-- list of chats -->
    <div id='id_chat_list' class="list-group" style="overflow: auto" ng-style="{height: chatListCtrl.chatListHeight}">
        <div ng-repeat="chatObj in chatListCtrl.chats" class="chatParty list-group-item" style="min-height: 58px"
             ng-class="{'alert-info': chatObj.numUnread, 'active': chatObj.isActive}">
            <a ng-href=""
               ng-click="chatListCtrl.gotoChat(chatObj)">
                <span class="badge" ng-if="chatObj.numUnread">{{chatObj.numUnread}}</span>
                <span ng-if="!chatObj.group">{{chatObj.label}} <i ng-if="chatObj.userObj.CanChat"
                                                                  class="fas fa-comment"></i>
                </span>
                <div ng-if="chatObj.group"
                     style="width: 85%; overflow: hidden;text-overflow: ellipsis;display: inline-block;">
                    <i class="fa fa-users" ng-class="{'text-primary': chatObj.group.IsBuddyList}"></i>{{chatObj.label}}
                </div>
                <i ng-if="chatObj.missedChatAlert" class="fas fa-comments text-warning"></i>
            </a>

            <a ng-if="chatObj.canDelete" class="pull-right" ng-href="" ng-click="chatListCtrl.deleteChat(chatObj)"><i
                class="smaller-85"
                ng-class="{'far fa-eraser text-danger': chatObj.group.IsBuddyList, 'far fa-times text-danger': !chatObj.group.IsBuddyList}"></i></a>

            <div class="smaller-85">
                <span style="color:#333; font-weight: 500">{{chatObj.dateTime}}</span>
                <span ng-if="chatObj.isSMS" ng-style="{color: !chatObj.isActive ? '#e38d13' : '#fff'}"
                      class="pull-right">
                    <i class="fas fa-sms" style="font-size: 125%"></i>
                    <span ng-if="chatObj.smsLabel" uib-tooltip="{{chatObj.myNumber}}">{{chatObj.smsLabel}}</span>
                    <span ng-if="!chatObj.smsLabel">{{chatObj.myNumber}}</span>
                </span>
            </div>

        </div>


    </div>
</div>
