<div class="form-group">
    <label for="idDepartment">{{::$root.getLocalPhrase('Contact.Department')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.Department" id="idDepartment"
           placeholder="{{::$root.getLocalPhrase('Contact.Department.Help')}}">
</div>
<div class="form-group">
    <label for="idLocation">{{::$root.getLocalPhrase('Location')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.Location" id="idLocation"
           placeholder="{{::$root.getLocalPhrase('Contact.Location.Help')}}">
</div>
<div class="form-group">
    <label for="idSupervisorName">{{::$root.getLocalPhrase('Contact.Boss.Name')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.SupervisorName" id="idSupervisorName"
           placeholder="{{::$root.getLocalPhrase('Contact.Boss.Name.Help')}}">
</div>
<div class="form-group">
    <label for="idSupervisorNumber">{{::$root.getLocalPhrase('Contact.Boss.Number')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.SupervisorNumber" id="idSupervisorNumber"
           placeholder="{{::$root.getLocalPhrase('Contact.Boss.Number.Help')}}">
</div>
<div class="form-group">
    <label for="idAssistantName">{{::$root.getLocalPhrase('Contact.Ass.Name')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.AssistantName" id="idAssistantName"
           placeholder="{{::$root.getLocalPhrase('Contact.Ass.Name.Help')}}">
</div>
<div class="form-group">
    <label for="idAssistantNumber">{{::$root.getLocalPhrase('Contact.Ass.Number')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.AssistantNumber" id="idAssistantNumber"
           placeholder="{{::$root.getLocalPhrase('Contact.Ass.Number.Help')}}">
</div>