<div class="form-group">
    <label for="idCompany">{{::$root.getLocalPhrase('Company')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.Company" id="idCompany"
           placeholder="{{::$root.getLocalPhrase('Contact.Company.Help')}}">
</div>
<div class="form-group">
    <label for="idAddress">{{::$root.getLocalPhrase('Contact.StreetAddr')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.Street" id="idAddress"
           placeholder="{{::$root.getLocalPhrase('Contact.StreetAddr.Help')}}">
</div>
<div class="form-group">
    <label for="idCity">{{::$root.getLocalPhrase('Contact.City')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.City" id="idCity"
           placeholder="{{::$root.getLocalPhrase('Contact.City.Help')}}">
</div>
<div class="form-group">
    <label for="idState">{{::$root.getLocalPhrase('Contact.State')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.State" id="idState"
           placeholder="{{::$root.getLocalPhrase('Contact.State.Help')}}">
</div>
<div class="form-group">
    <label for="idZip">{{::$root.getLocalPhrase('Contact.Zip')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.PostalCode" id="idZip"
           placeholder="{{::$root.getLocalPhrase('Contact.Zip.Help')}}">
</div>
<div class="form-group">
    <label for="idCountry">{{::$root.getLocalPhrase('Contact.Country')}}</label>
    <input type="text" class="form-control" ng-model="data.contact.Country" id="idCountry"
           placeholder="{{::$root.getLocalPhrase('Contact.Country.Help')}}">
</div>
