<div style="font-size: 150%">
    <div>
        <a ng-href="" ng-click="insertEmoji('🙂')">🙂</a>
        <a ng-href="" ng-click="insertEmoji('️😀')">😀</a>
        <a ng-href="" ng-click="insertEmoji('😆')">😆</a>
        <a ng-href="" ng-click="insertEmoji('😉')">😉</a>
        <a ng-href="" ng-click="insertEmoji('🤣')">🤣</a>
    </div>
    <div>
		<a ng-href="" ng-click="insertEmoji('😍')">😍</a>
        <a ng-href="" ng-click="insertEmoji('🤔')">🤔</a>
        <a ng-href="" ng-click="insertEmoji('🙄')">🙄</a>
        <a ng-href="" ng-click="insertEmoji('😎')">😎</a>
        <a ng-href="" ng-click="insertEmoji('😴')">😴</a>
    </div>
    <div>
		<a ng-href="" ng-click="insertEmoji('😕')">😕</a>
        <a ng-href="" ng-click="insertEmoji('☹️')">☹️</a>
        <a ng-href="" ng-click="insertEmoji('😲')">😲</a>
        <a ng-href="" ng-click="insertEmoji('😠')">😠</a>
        <a ng-href="" ng-click="insertEmoji('😢')">😢</a>
    </div>
    <div>
		<a ng-href="" ng-click="insertEmoji('🙋')">🙋</a>
        <a ng-href="" ng-click="insertEmoji('🤦')">🤦</a>
        <a ng-href="" ng-click="insertEmoji('🤷')">🤷</a>
        <a ng-href="" ng-click="insertEmoji('👀')">👀</a>
        <a ng-href="" ng-click="insertEmoji('💪')">💪</a>
    </div>
    <div>
		<a ng-href="" ng-click="insertEmoji('👌')">👌</a>
        <a ng-href="" ng-click="insertEmoji('🤞')">🤞</a>
        <a ng-href="" ng-click="insertEmoji('👍')">👍</a>
        <a ng-href="" ng-click="insertEmoji('👎')">👎</a>
        <a ng-href="" ng-click="insertEmoji('🖐️')">🖐️</a>
    </div>
    <div>
		<a ng-href="" ng-click="insertEmoji('🙏')">🙏</a>
        <a ng-href="" ng-click="insertEmoji('🤝')">🤝</a>
        <a ng-href="" ng-click="insertEmoji('✍️')">✍️</a>
        <a ng-href="" ng-click="insertEmoji('🙌')">🙌</a>
        <a ng-href="" ng-click="insertEmoji('👏')">👏</a>
    </div>
    <div>
		<a ng-href="" ng-click="insertEmoji('❤️')">❤️</a>
        <a ng-href="" ng-click="insertEmoji('💤')">💤</a>
        <a ng-href="" ng-click="insertEmoji('🔔')">🔔</a>
        <a ng-href="" ng-click="insertEmoji('⚠️')">⚠️</a>
        <a ng-href="" ng-click="insertEmoji('❓')">❓</a>
    </div>
	<div>
		<a ng-href="" ng-click="insertEmoji('❕')">❕</a>
        <a ng-href="" ng-click="insertEmoji('💥')">💥</a>
        <a ng-href="" ng-click="insertEmoji('✔️')">✔️</a>
        <a ng-href="" ng-click="insertEmoji('❌')">❌</a>
        <a ng-href="" ng-click="insertEmoji('🌎')">🌎</a>
	</div>
	<div>
		<a ng-href="" ng-click="insertEmoji('️☀️')">☀️</a>
        <a ng-href="" ng-click="insertEmoji('💡')">💡</a>
        <a ng-href="" ng-click="insertEmoji('📧')">📧</a>
        <a ng-href="" ng-click="insertEmoji('☎️')">☎️</a>
        <a ng-href="" ng-click="insertEmoji('📞')">📞</a>
	</div>
</div>