<style>
    .modal-dialog {
        overflow-y: initial !important;
    }

    .modal-body {
        overflow-y: auto;
        background-color: #f3f3f3;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title">
        <div class="row">
            <div class="col-xs-10">
                <span>{{ParkCallCtrl.model.pageTitle}}</span>
            </div>
        </div>
    </h5>
</div>
<div class="modal-body" ng-style="{height: ParkCallCtrl.modalHeight + 'px'}">
    <form novalidate>
        <formly-form model="ParkCallCtrl.model"
                     fields="ParkCallCtrl.fields"
                     form="ParkCallCtrl.form">
        </formly-form>
    </form>
<!--    <pre>{{ParkCallCtrl.snrObj | json}}</pre>
    <pre>{{ParkCallCtrl.model | json}}</pre>
    <pre>{{ParkCallCtrl.form | json}}</pre>-->
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button ng-click="ParkCallCtrl.closeDialog()" class="btn btn-default">{{::getLocalPhrase('Cancel')}}</button>
        <button ng-click="ParkCallCtrl.saveDialog()" class="btn btn-primary" ng-disabled="ParkCallCtrl.form.$invalid">
            {{::getLocalPhrase('ParkCall')}}
        </button>
    </div>
</div>
